<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nav_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0455E2921BA6CC3B00061792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0455E2A61BA6CC3C00061792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0455E2B11BA6CC3C00061792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
